<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestLimit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EFCF22E1C0E78B90032EBE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EFCF2421C0E78B90032EBE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EFCF24D1C0E78B90032EBE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
