<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestDataBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E95E14A1C3F7C9F00686BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E95E15E1C3F7C9F00686BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E95E1691C3F7C9F00686BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
